@font-face {
    font-family: Norse;
    src: url(./font/Norse-Bold.otf);
}


body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    display: flex;
}


.plants-img {
    width: 931px;
    height: 1396px;
}

.odin-back div {
    background: rgb(0, 0, 0, 0.5);
    position: absolute;
    top: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.odin-logo {
    width: 190px;
    height: 254px;
}

form div div {
    display: flex;
    flex-direction: column;
}

form > div {
    display: flex;
    gap: 60px;
    margin-bottom: 10px;
}

.odin-back p {
    color: #E5E7EB;
    font-family: Norse, sans-serif;
    font-size: 180px;
    margin: 0;
}

.img-div {
    position: relative;
}

.img-div > p {
    color: #E5E7EB;
    position: absolute;
    top: 1340px;
    left: 0;
    right: 0;
    width:  215.664px;
    margin-right: auto;
    margin-left: auto;

}

input {
    border: 1px solid #E5E7EB;
    border-radius: 3px;
}

.error {
    border: 2px solid red;
    border-radius: 3px;
}

input:focus {
    border: 2px solid blue;
}



button {
    background-color: #596D48;
    color: #E5E7EB;
    border: none;
    padding: 10px 50px 10px 50px;
    border-radius: 8px;
}


.white-div {
    padding: 30px;
    font-family: sans-serif;
}

label {
    font-size: x-small;
}


a {
    color: #596D48;
    text-decoration: none;
}

.bold {
    font-weight: bold;
}

form > div + div +div {
    margin-bottom: 40px;
}


